.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1920px;
	height: 1501px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Background {
	filter: blur(5px);
}
.Background {
	overflow: visible;
	position: absolute;
	width: 1189.301px;
	height: 1042.905px;
	left: 354.934px;
	top: 261.467px;
	transform: matrix(1,0,0,1,0,0);
}

@font-face {
	font-family: "Microsoft Himalaya";
	src: url('fonts/MicrosoftHimalaya.eot');
    src: url('fonts/MicrosoftHimalaya.eot?#iefix') format('embedded-opentype'),
        url('fonts/MicrosoftHimalaya.woff2') format('woff2'),
        url('fonts/MicrosoftHimalaya.woff') format('woff'),
        url('fonts/MicrosoftHimalaya.svg#MicrosoftHimalaya') format('svg');
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Black.ttf");
	src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
}

#About_the_ISOCIALCOMPLEXLAB_ {
	position: absolute;
	left: 411px;
	top: 329px;
	overflow: visible;
	width: 458px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Footer {
	position: absolute;
	width: 775px;
	height: 224px;
	left: 573px;
	top: 1277px;
	overflow: visible;
}
#cmcc {
	position: absolute;
	width: 340px;
	height: 93px;
	left: 435px;
	top: 58px;
	overflow: visible;
}
#logotipo_ufabc_lateral {
	position: absolute;
	width: 290px;
	height: 224px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Header {
	position: absolute;
	width: 2034px;
	height: 313px;
	left: -57px;
	top: -26px;
	overflow: visible;
}
.Caminho_1 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 287px;
	left: 57px;
	top: 26px;
	transform: matrix(1,0,0,1,0,0);
}
#background_1 {
	opacity: 1.7;
	filter: blur(4px);
	position: absolute;
	width: 2034px;
	height: 249px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ISOCIALCOMPLEXLAB___UFABC {
	position: absolute;
	left: 817px;
	top: 201px;
	overflow: visible;
	width: 401px;
	white-space: nowrap;
	text-align: center;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Projects {
	position: absolute;
	left: 963.5px;
	top: 263px;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 90px;
	margin-top: -20px;
	text-align: center;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Publications {
	position: absolute;
	left: 662.5px;
	top: 263px;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	line-height: 90px;
	margin-top: -20px;
	text-align: center;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Researchers {
	position: absolute;
	left: 1183.5px;
	top: 263px;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	line-height: 90px;
	margin-top: -20px;
	text-align: center;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Contact {
	position: absolute;
	left: 1457.5px;
	top: 263px;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: center;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Home_t {
	position: absolute;
	left: 447.5px;
	top: 263px;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	line-height: 90px;
	margin-top: -20px;
	text-align: center;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Laborat_rio_de_Intelig_ncia_So {
	position: absolute;
	left: 612px;
	top: 28px;
	overflow: visible;
	width: 697px;
	white-space: nowrap;
	text-align: center;
	font-family: Microsoft Himalaya;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.3px;
}
#Lorem_ipsum_dolor_sit_amet__co {
	position: absolute;
	left: 411px;
	top: 394px;
	overflow: hidden;
	width: 1099px;
	height: 910px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}